<!DOCTYPE html>
<!--[if lt IE 9]> <html lang='fr-FR' class='no-js lt-ie9 lt-ie10'> <![endif]-->
<!--[if IE 9]> <html lang='fr-FR' class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang='fr-FR' class='no-js'> <!--<![endif]-->

	<head>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	  	<meta charset='utf-8'>
	  	<title><% name %></title>
	  	<meta name='description' content=''>
	  	<meta name='viewport' content='width=device-width,initial-scale=1'>

	  	<link rel='stylesheet' href='css/main.css'>
	  	<script src='js/modernizr.min.js'></script>
	</head>

	<body>

		<header>
			<a id='logo' href='#'></a>
			<nav role='navigation'>
				<ul>
					<li><a href='#'></a></li>
					<li><a href='#'></a></li>
				</ul>
			</nav>
			<button id='burger'></button>
		</header>

		<main class='wrapper' role='main'>

			<h1></h1>

			<section>
				
			</section>

			<aside>
				<h2></h2>
			</aside>

		</main>

	  	<footer role='contentinfo'>
	  	</footer>

	  	<script src='js/jquery-1.11.2.min.js'></script>
	  	<script src='js/script.js'></script>

	</body>

</html>