// Variables 🧮 //

// Colors 🎨
$black: #000;
$white: #fff;

// Fonts ✍
// serif
$serif-font: serif;

// sans
$sans-serif-font: sans-serif;

// Texts variables 🖌
$text-size-mobile: 13;
$text-size-desktop: 15;

// Components sizes 📏
$header-height: 88px;
$header-logo-height: 28px;

// Grids variables 📐
$gutter: 35px; // Space between columns = 70px
$small-gutter: 15px;
$line-height: 22px;

// Mediaqueries 📱
// Horizontal sizes
$desktop-xxl: 1400px;
$desktop-large: 1280px;
$desktop: 1100px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;

// Vertical sizes
$phone-small-v: 600px;
$desktop-v: 900px;
$desktop-xxl-v: 1080px;
