// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Transitions
$transition: 0.3s ease-in-out;

// Fonts
// $font: 'font', sans-serif;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';
