/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

fieldset{

}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
}

input{
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}
