/******* GÉNÉRAL *******/

::-moz-selection{
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $black;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body{
    font: 1.6em / 1.2 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    font-size: 5rem;
    margin: 0.67em 0;
}

h2{
    font-size: 3rem;
    margin: 0.83em 0;
}

h3{
    font-size: 2.4rem;
    margin: 1em 0;
}

h4{
    font-size: 2.2rem;
    margin: 1.33em 0;
}

h5{
    font-size: 2rem;
    margin: 1.67em 0;
}

h6{
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p{
    margin: 1em 0;
}

b, strong{

}

i, em{

}

blockquote{
    margin: 1em 40px;
}

ol, ul{
    padding: 0;
    margin: 1em 0;
}
ul{
    ul{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:before{
            content: counter(ol-counter)'.';
        }
    }
    ol{
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

dt, dd{
    display: inline;
    margin: 0;
}
dt{
    &:after{
        content: ': ';
    }
}
dd{
    + dt{
        &:before{
            content: '\A';
            white-space: pre;
        }
    }
    + dd{
        &:before{
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}


/******* LIENS / BOUTONS *******/

a{
    color: inherit;
    text-decoration: none;
    transition: $transition;
    &:focus, &:hover{
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: saturate(200%);
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix{
    @include clearfix;
}

.pos-relative{
    position: relative;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width{
    width: 100%;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}
