/******* GÉNÉRAL *******/

::-moz-selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}
::selection {
    background: rgba($black, 0.99);
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    background: $white;
    @extend %no-scroll;
}

body {
    font: #{$text-size-mobile * 0.1}em / 1.5 sans-serif;
    color: $txt;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wysiwyg h1,
.h1 {
    font-size: 5rem;
    margin: 0.67em 0;
}

.wysiwyg h2,
.h2 {
    font-size: 3rem;
    margin: 0.83em 0;
}

.wysiwyg h3,
.h3 {
    font-size: 2.4rem;
    margin: 1em 0;
}

.wysiwyg h4,
.h4 {
    font-size: 2.2rem;
    margin: 1.33em 0;
}

.wysiwyg h5,
.h5 {
    font-size: 2rem;
    margin: 1.67em 0;
}

.wysiwyg h6,
.h6 {
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p {
    margin: 1em 0;
}

b,
strong {
    font-weight: 500;
}

i,
em {
}

blockquote {
    margin: 1em 40px;
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
}
ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &::before {
            content: counter(ol-counter) '.';
        }
    }
    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

// COMBAK: Remove if not used
dt,
dd {
    display: inline;
    margin: 0;
}
dt {
    &::after {
        content: ': ';
    }
}
dd {
    + dt {
        &::before {
            content: '\A';
            white-space: pre;
        }
    }
    + dd {
        &::before {
            content: ', ';
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

// COMBAK: Remove if not used
code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

// COMBAK: Remove if not used
hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

/******* LIENS / BOUTONS *******/

button,
input {
    @extend %outline;
}

a {
    color: inherit;
    @extend %outline;
    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.inline-b {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-0.1em);
}

.full-width {
    width: 100%;
}

.no-transition {
    transition: none !important;
}

@media (min-width: $phone) {
    body {
        font-size: #{$text-size-desktop * 0.1}rem;
    }
    .wysiwyg h1,
    .h1 {
        font-size: 4rem;
    }
    .wysiwyg h2,
    .h2 {
        font-size: 3.2rem;
    }
    .wysiwyg h3,
    .h3 {
        font-size: 2.8rem;
    }
    .wysiwyg h4,
    .h4 {
        font-size: 2.2rem;
    }
    .wysiwyg h5,
    .h5 {
        font-size: 2rem;
    }
    .wysiwyg h6,
    .h6 {
        font-size: 1.8rem;
    }
}
