$txt: rgb(86, 86, 86);
$transition: .3s ease-in-out;


/******* GÉNÉRAL *******/

::-moz-selection{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
::selection{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

html{
  font-size: 62.5%; /* sets the base font to 10px for easier math */
}

body{
  font-family: sans-serif;
  font-size: 1.6em;
  /* sets the default sizing to make sure nothing is actually 16px */
  line-height: 1;
}

h1{
    font-size: 3em;
    margin: .67em 0;
}

h2{
    font-size: 2.5em;
    margin: .83em 0;
}

h3{
    font-size: 2em;
    margin: 1em 0;
}

h4{
    font-size: 1.7em;
    margin: 1.33em 0;
}

h5{
    font-size: 1.3em;
    margin: 1.67em 0;
}

h6{
    font-size: 1.1em;
    margin: 2.33em 0;
}

p{
    margin: 1em 0;
}

b, strong{

}

i, em{

}

blockquote{
    margin: 1em 40px;
}

ol, ul{
    margin: 1em 0;
    padding: 0 0 0 40px;
}

img{
  max-width: 100%;
  height: auto;
}


/******* LIENS / BOUTONS *******/

a{
  text-decoration: none;
  transition: $transition;
  &:focus, &:hover{
  }
  &:focus{
      outline: 0;
  }
  &:active{
  }
}


/******* FORMULAIRES *******/

::-webkit-input-placeholder{
    color: rgb(139, 139, 139);
}
::-moz-placeholder{
    color: rgb(139, 139, 139);
}
:-ms-input-placeholder{
    color: rgb(139, 139, 139);
}

label{

}

fieldset{

}

input, textarea, select, button{
  transition: $transition;
  &:focus{
      outline: 0;
  }
}

input, textarea{
  &:-webkit-autofill{
      box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  }
}

input{

}

textarea{

}

select{

}


/******* MODULES *******/

.wrapper{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}


/******* HEADER *******/


/******* FOOTER *******/


/******* CLASSES GENERALES  *******/

.reset-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hidden{
    display: none !important;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after{
    content: ' ';
    display: table;
}
.clearfix:after{
    clear: both;
}