<!DOCTYPE html>
<!--[if lt IE 9]> <html lang='fr-FR' class='no-js lt-ie9 lt-ie10'> <![endif]-->
<!--[if IE 9]> <html lang='fr-FR' class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang='fr-FR' class='no-js'> <!--<![endif]-->
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name='description' content=''>
       <meta name="viewport" content="width=device-width, initial-scale=1">

       {% block stylesheets %}
           <link rel="stylesheet" href="main.css">
       {% endblock stylesheets %}

       {% block javascript_top %}{% endblock %}
   </head>

   <body {% block body_attr %}{% endblock %}>
       {% block content %}{% endblock %}

       {% block javascript_bottom %}
         <script src="bower_components/jquery/dist/jquery.min.js"></script>
         <% if (greensock) { %><script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
         <script src="bower_components/gsap/src/minified/TimelineMax.min.js"></script>
         <script src="js/script.js"></script>
       <% } %>{% endblock %}
   </body>
</html>