<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title></title>

        {% block stylesheets %}
            <link rel='stylesheet' href='css/main.css'>
        {% endblock stylesheets %}

        {% block javascript_top %}{% endblock %}
    </head>

    <body {% block body_attr %}{% endblock %}>
        {% block icons %}
            <svg style='position:absolute;width:0;height:0;overflow:hidden'>
                <defs>
                    <symbol id='icon' viewBox='0 0 0 0'>
                        <title>Icon</title>
                    </symbol>
                </defs>
            </svg>
        {% endblock icons %}

        <header>
        </header>

        {% block content %}{% endblock %}

        <footer>
        </footer>

        {% block javascript_bottom %}
            <script src='js/libs/jquery/dist/jquery.min.js' defer></script>
            <% if (greensock) { %>
                <script src='js/libs/gsap/src/minified/TweenMax.min.js' defer></script>
                <script src='js/libs/gsap/src/minified/TimelineMax.min.js' defer></script>
            <% } %>
            <script src='js/main.js' defer></script>
        {% endblock %}
    </body>
</html>
