<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta http-equiv='X-UA-Compatible' content='ie=edge'>

        <title></title>

        <link rel='stylesheet' href='main.css'>

        <script>document.getElementsByTagName('html')[0].className = 'js';</script>
    </head>

    <body>
        
        <svg class='icon'><use xlink:href='#icon'/></svg>
        
        <header role='banner'>
        </header>

        <main role='main'>
            <h1>Hello world !</h1>
        </main>

        <footer role='contentinfo'>
        </footer>
        
        <svg style='position:absolute;width:0;height:0;overflow:hidden'>
            <defs>
                <symbol id='icon' viewBox='0 0 0 0'>
                    <title>Icon</title>
                </symbol>
            </defs>
        </svg>

        <script src='main.js' defer></script>
    </body>
</html>
