<!DOCTYPE html>
<html lang="fr-FR" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title></title>

        <link rel="stylesheet" href="main.css" />

        <script>
            document.getElementsByTagName('html')[0].className = 'js';
        </script>
    </head>

    <body>
        <div class="wrapper">
            <header role="banner" class="header">
                <div class="container"></div>
            </header>

            <main role="main">
                <div class="container">
                    <h1>Hello world !</h1>
                </div>
            </main>

            <footer role="contentinfo" class="footer">
                <div class="container"></div>
            </footer>
        </div>

        <script src="js/main.js" defer></script>
    </body>
</html>
