<!DOCTYPE html>
<html lang='fr-FR' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title></title>

        <link rel='stylesheet' href='css/main.css'>
    </head>

    <body>
        <svg style='position:absolute;width:0;height:0;overflow:hidden'>
            <defs>
                <symbol id='icon' viewBox='0 0 0 0'>
                    <title>Icon</title>
                </symbol>
            </defs>
        </svg>
        <svg class='icon'><use xlink:href='#icon'/></svg>
        <header>
        </header>

        <h1>Hello world !</h1>

        <footer>
        </footer>

        <script src='js/libs/jquery/dist/jquery.min.js' defer></script>
        <% if (greensock) { %>
            <script src='js/libs/gsap/src/minified/TweenMax.min.js' defer></script>
            <script src='js/libs/gsap/src/minified/TimelineMax.min.js' defer></script>
        <% } %>
        <script src='js/main.js' defer></script>
    </body>
</html>
